// Colors

$darkBlue: #243958;
$brown1: #b1884A;
$brown2: #c49650;
$white: #ffffff;
$black: #000000;
$red: #c24040;
$azure: rgba(129, 203, 201, 0.1);
$grey: rgba(0,0,0,0.3);
$darkGrey: #F1EFED;
$lightBlue: rgba(36,57,88, 0.05);
$blue: rgba(36,57,88, 0.3);
$lightBlue1: #f4f5f6;

// Other
$borderWidth: 2px;
$guestNumberSize: 60px;
$btnHeight: 54px;
$mainContainerWidth: 480px;
$mainContainerPadding: 41px;
$mainContainerPaddingLeft: 50px;
$mainContainerPaddingRight: 32px;

// Fonts

$fontArgent: 'Argent CF';
$fontColfax: Colfax;

$light: 300;
$medium: 500;
$bold: 700;

@font-face {
 font-family: 'Argent CF';
 src: url("/assets/fonts/Argent-3.0/ArgentCF-Regular.otf") format("otf");
}

@font-face {
 font-family: 'Argent CF';
 src: url("/assets/fonts/Argent-3.0/ArgentCF-Light.otf") format("otf");
 font-weight: 300;
}

@font-face {
 font-family: Colfax;
 src: url("/assets/fonts/Colfax/colfaxRegular.ttf") format("ttf");
}

@font-face {
 font-family: Colfax;
 src: url("/assets/fonts/Colfax/colfaxMedium.ttf") format("ttf");
 font-weight: 500;
}

@font-face {
 font-family: Colfax;
 src: url("/assets/fonts/Colfax/colfaxBold.ttf") format("ttf");
 font-weight: 700;
}
