@import "./app.variable";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    z-index: 2;
}

@font-face {
 font-family: 'Argent CF';
 src: url("/assets/fonts/Argent-3.0/ArgentCF-Regular.otf") format("otf");
}

@font-face {
 font-family: 'Argent CF';
 src: url("/assets/fonts/Argent-3.0/ArgentCF-Light.otf") format("otf");
 font-weight: 300;
}

@font-face {
 font-family: Colfax;
 src: url("/assets/fonts/Colfax/colfaxRegular.ttf") format("ttf");
}

@font-face {
 font-family: Colfax;
 src: url("/assets/fonts/Colfax/colfaxMedium.ttf") format("ttf");
 font-weight: 500;
}

@font-face {
 font-family: Colfax;
 src: url("/assets/fonts/Colfax/colfaxBold.ttf") format("ttf");
 font-weight: 700;
}

body {
	background: $background;
}

.title-light {
  @include font-style($family: $fontArgent, $size: 22px, $colour: $darkBlue, $weight: $light);
}
.title {
  @include font-style($family: $fontArgent, $size: 22px, $colour: $darkBlue);
  img {
    position: relative;
    top: -5px;
    left: -2px;

    &.title-dot {
      top: 0px;
      left: 0;
      margin: 0 9px;
    }
  }
}
.btn {
  @include font-style($family: $fontColfax, $size: 13px, $colour: $brown1, $weight: $bold);
  border: $borderWidth solid $brown2;
  background: $background;
  line-height: $btnHeight;
  outline: none;
  padding: 0;
  width: 100%;
  letter-spacing: 1.86px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.btn-corner-left:before {
  content: "";
  @include button-corner($cornerUrl: url(/assets/images/button-corner.svg));
  top: -$borderWidth;
  left: -$borderWidth;
}
.btn-corner-left:after {
  content: "";
  @include button-corner($cornerUrl: url(/assets/images/button-corner.svg));
  @include transform(rotate(270deg));
  bottom: -$borderWidth;
  left: -$borderWidth;
}
.btn-corner-right:before {
  content: "";
  @include button-corner($cornerUrl: url(/assets/images/button-corner.svg));
  @include transform(rotate(90deg));
  top: -$borderWidth;
  right: -$borderWidth;
}
.btn-corner-right:after {
  content: "";
  @include button-corner($cornerUrl: url(/assets/images/button-corner.svg));
  @include transform(rotate(180deg));
  bottom: -$borderWidth;
  right: -$borderWidth;
}
.timer {
  @include font-style($family: $fontColfax, $size: 15px, $colour: $brown2, $weight: $medium);
}
.calendar-month {
  @include font-style($family: $fontColfax, $size: 16px, $colour: $darkBlue, $weight: $medium);
  text-transform: uppercase;
}
.calendar-day {
  @include font-style($family: $fontColfax, $size: 14px, $colour: $brown1, $weight: $medium);
  text-transform: uppercase;
}
.calendar-number {
  @include font-style($family: $fontColfax, $size: 18px, $colour: $darkBlue);
  &.active {
    color: $brown1;
  }
}
.subtitle {
  @include font-style($family: $fontColfax, $size: 15px, $colour: $darkBlue, $weight: $medium);
  text-transform: uppercase;
}
.time-slot {
  @include font-style($family: $fontColfax, $size: 15px, $colour: $white, $weight: $medium);
  @include transition(0.3s);
  background: $brown2;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 44px;
  &:hover {
    background: $darkBlue;
  }
  &-container {
    width: 120px;
    position: relative;
    float: left;
    margin-right: 18px;
    margin-bottom: 18px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    input {
      position: absolute;
      top: 0;
      width: 100%;
      height: 44px;
      left: 0;
      right: 0;
      opacity: 0;

      &:hover + label {
        background: $darkBlue;
      }
      &:checked + label {
        background: $darkBlue;
      }
    }
  }
}
.guest-number {
  @include font-style($family: $fontColfax, $size: 20px, $colour: $brown1);
  @include transition(0.3s);
  background: url(/assets/images/guest-number.svg);
  display: inline-block;
  width: $guestNumberSize;
  height: $guestNumberSize;
  text-align: center;
  line-height: $guestNumberSize;
  cursor: pointer;
  &-container {
    width: $guestNumberSize;
    height: $guestNumberSize;
    position: relative;
    float: left;
    margin-right: 28px;
    margin-bottom: 34px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    input {
      position: absolute;
      top: 0;
      width: $guestNumberSize;
      height: $guestNumberSize;
      left: 0;
      right: 0;
      opacity: 0;

      &:hover + label {
        color: $white;
        background: url(/assets/images/guest-number-active.svg);
      }
      &:checked + label {
        color: $white;
        background: url(/assets/images/guest-number-active.svg);
      }
    }
  }
}
.text-left {
  float: left;
}
.text-right {
  float: right;
}
.payment-type {
  position: relative;

  input {
    position: absolute;
    top: 0;
    width: 100%;
    height: $btnHeight - 4px;
    left: 0;
    right: 0;
    opacity: 0;

    & + label {
      @include transition(0.3s);
      @include box-sizing(border-box);
      display: block;
      outline: none;
      padding-left: 58px;
      width: 100%;
      border: $borderWidth solid $lightBlue1;
      background: $lightBlue1;
      line-height: $btnHeight - 4px;

      &.alipay:before {
        content: '';
        position: absolute;
        top: 17px;
        left: 21px;
        background: url(/assets/images/alipay.svg) no-repeat;
        width: 21px;
        height: 21px;
      }
      &.wechat:before {
        content: '';
        position: absolute;
        top: 19px;
        left: 21px;
        background: url(/assets/images/wechat.svg) no-repeat;
        width: 23px;
        height: 20px;
      }
      &.paypal:before {
        content: '';
        position: absolute;
        top: 18px;
        left: 23px;
        background: url(/assets/images/paypal.svg) no-repeat;
        width: 18px;
        height: 21px;
      }
      &.card:before {
        content: '';
        position: absolute;
        top: 17px;
        left: 19px;
        background: url(/assets/images/card.svg) no-repeat;
        width: 21px;
        height: 21px;
      }
    }

    &:hover + label {
      border: $borderWidth solid $brown2;
      background: $background;
    }
    &:checked + label {
      border: $borderWidth solid $brown2;
      background: $background;

      &:after {
        content: '';
        position: absolute;
        top: 18px;
        right: 21px;
        background: url(/assets/images/icon-check.svg) no-repeat;
        width: 18px;
        height: 17px;
      }
    }
  }
}
.text {
  @include font-style($family: $fontColfax, $size: 16px, $colour: $darkBlue);
  &.grey {
    color: $grey;
  }
}
.text-medium {
  @include font-style($family: $fontColfax, $size: 15px, $colour: $darkBlue);
}
.text-small {
  @include font-style($family: $fontColfax, $size: 14px, $colour: $darkBlue);
  &.medium {
    font-weight: $medium;
  }
}
.text-big {
  @include font-style($family: $fontColfax, $size: 18px, $colour: $darkBlue);
  &.grey {
    color: $grey;
  }
  &.red {
    color: $red;
  }
  &.medium {
    font-weight: $medium;
  }
}
.link {
  @include font-style($family: $fontColfax, $size: 16px, $colour: $darkBlue, $weight: $medium);
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.btn-wechat {
  @include font-style($family: $fontColfax, $size: 15px, $colour: $white, $weight: $medium);
  @include transition(0.3s);
  background: $darkBlue;
  position: relative;
  border: 0;
  outline: none;
  line-height: $btnHeight - 5px;
  width: 100%;
  &:after {
    content: '';
    position: absolute;
    top: 17px;
    width: 24px;
    height: 21px;
    left: 18px;
    background: url(/assets/images/icon-wechat.svg);
  }
  &:hover {
    background: darken($darkBlue, 5%);
  }
}
.btn-light {
  @include font-style($family: $fontColfax, $size: 15px, $colour: $brown1, $weight: $medium);
  @include transition(0.3s);
  background: $background;
  border: $borderWidth solid $brown2;
  line-height: $btnHeight - 9px;
  outline: none;
  width: 100%;
  &:hover {
    background: $brown2;
    color: $white;
  }
}
.mg-b-18 { margin-bottom: 18px; }
textarea { resize: none; }
.form-field {
  @include font-style($family: $fontColfax, $size: 18px, $colour: $darkBlue);
  @include box-sizing(border-box);
	background: $background;
  border: $borderWidth solid $brown2;
  line-height: $btnHeight - 4px;
  outline: none;
  width: 100%;
  padding: 0 19px;

  &.disabled {
    border: 0;
    background: $lightBlue;
    line-height: $btnHeight;
  }
}
.form-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $blue;
}
.form-field::-moz-placeholder { /* Firefox 19+ */
  color: $blue;
}
.form-field:-ms-input-placeholder { /* IE 10+ */
  color: $blue;
}
.form-field:-moz-placeholder { /* Firefox 18- */
  color: $blue;
}
.booking-block {
  @include font-style($family: $fontArgent, $size: 18px, $colour: $darkBlue);
  background: $azure;
  line-height: 1.6;
  padding: 16px 0;

  .title-dot {
    margin: 0 7px;
  }
}
.block-center {
    @include transform(translateY(-50%));
    position: absolute;
    top: 50%;
    text-align: center;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}
.block-parent {
  position: relative;
  height: calc(100% - 10px);
}
.icon-account {
    float: right;
    margin-top: 25px;
    position: relative;
    right: 0;
}

.divider-full {
  background: url(/assets/images/divider-1.svg);
  border: 0;
  height: 9px;
}
.divider-part {
  background: url(/assets/images/divider-2.svg) no-repeat;
  margin: 32px 0;
}

@media (max-width: 767px) {
  .text-big {
    font-size: 16px;
  }
  .title-light, .title {
    font-size: 20px;
  }
  .btn {
    line-height: $btnHeight - 6px;
  }
  .icon-account {
      margin-top: 5px;
      right: 3px;
  }
  .timer {
    font-size: 13px;
    padding: 9px 0 2px;
    background: $darkGrey;
  }
  .divider-full {
    background: url(/assets/images/divider-1-mobile.svg) center no-repeat;
  }
  .divider-part {
    background: url(/assets/images/divider-2-mobile.svg) no-repeat;
    margin: 23px auto;
    max-width: 301px;
    position: relative;
    top: 2px;
  }
  .time-slot {
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
  }
  .subtitle {
    font-size: 14px;
  }
  .time-slot-container {
    width: 88px;
  }
  .guest-number {
    background: url(/assets/images/guest-number.svg);
    width: $guestNumberSize - 10px;
    height: $guestNumberSize - 10px;
    line-height: $guestNumberSize - 10px;
    background-size: contain;
    font-size: 17px;
    &-container {
      width: $guestNumberSize - 10px;
      height: $guestNumberSize - 10px;
      margin-right: 20px;
      margin-bottom: 20px;

      input {
        width: $guestNumberSize - 10px;
        height: $guestNumberSize - 10px;

        &:hover + label {
          background: url(/assets/images/guest-number-active.svg);
          background-size: contain;
        }
        &:checked + label {
          background: url(/assets/images/guest-number-active.svg);
          background-size: contain;
        }
      }
    }
  }
  .payment-types {
    padding: 0 4px;
  }
  .payment-type input + label {
    padding-left: 50px;
    line-height: 44px;
  }
  .payment-type input:checked + label:after {
    top: 15px;
    right: 15px;
  }
  .payment-type input + label.alipay:before {
    top: 13px;
    left: 17px;
  }
  .payment-type input + label.wechat:before {
    top: 15px;
    left: 16px;
  }
  .payment-type input + label.paypal:before {
    top: 14px;
    left: 19px;
  }
  .payment-type input + label.card:before {
    top: 14px;
    left: 17px;
  }
  .title img.title-dot {
    margin: 0 3px;
  }
  .btn-wechat {
    font-size: 14px;
    line-height: 43px;
    &:after {
      top: 14px;
    }
  }
  .btn-light {
    font-size: 14px;
    line-height: 39px;
  }
  .form-field {
    font-size: 16px;
    line-height: 44px;
    padding: 0 16px;
    &.disabled {
        line-height: 48px;
    }
  }
  textarea.form-field {
    height: 48px;
  }
  .text-medium {
    font-size: 13px;
  }
  .mg-b-18 {
    margin-bottom: 15px;
  }
}

@media (max-width: 359px) {
  .divider-full, .divider-part {
    background-size: contain;
  }
  .time-slot-container {
    width: 79px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
