<div class='block-parent'>
  <div class='confirm-header'>
    <a routerLink='/'><img src='assets/images/close.svg' /></a>
  </div>
  <div class='block-center'>
    <p class='text-center'><img src='assets/images/error.svg' /></p>
    <div class='text-center title confirm-title'>
      {{ 'ERROR_TITLE' | translate }}
    </div>
    <p class='text-big text-center confirm-description'>{{ 'ERROR_TEXT' | translate }}</p>
  </div>
  <div class='confirm-footer'>
    <a routerLink='/' class='text-big grey'>{{ 'BACK_TO_HOME' | translate }}</a>
  </div>
</div>
