.booking-payment {
  &-title {
    margin: 30px auto 35px;
    max-width: 300px;
    line-height: 1.5;
  }
  &-info {
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) and (max-height: 750px) {
  .booking-payment {
    overflow: auto;
    height: calc(100% - 176px);
  }
}

@media (max-width: 767px) {
  .booking-payment-title {
    margin: 22px auto 31px;
    max-width: 280px;
  }
  .booking-payment-info {
    font-size: 18px;
    margin-top: 32px;
    padding: 0 4px;
    margin-bottom: 25px;
  }
}

@media (max-width: 350px) {
  .booking-payment-title {
    margin: 12px auto 15px;
  }
  .booking-payment-info[_ngcontent-c6] {
    font-size: 16px;
    margin-top: 19px;
    margin-bottom: 19px;
  }
}
